.*
*.exe
*.pdb
*.lib
*.a
*.so
*.lst
*.json
*.png
*.jpg
*.webp
*.bmp
*.zip
*.js
*.sh
*.bat
*.ps1
docs

**/views/version

arkimg-test-*
arkimg-cli-test-*

!.gitignore
!.gitattributes
!dub.json
!examples/*/dub.json
!.gendoc
!.gendoc/settings.json

!tests/*/.no_*
